<!DOCTYPE html>
<html lang="en" ng-app="PrimaryApp">
<head>
    <meta charset="UTF-8">
    <title>Continuous Effects Sandbox (Magic: the Gathering)</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58418959-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-58418959-5');
    </script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-1.12.4.js"
            integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="bundles/bundle.js"></script>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div ng-controller="PrimaryController">
        <div class="panel panel-default">
            <div class="panel-body"><b>Continuous effects sandbox.</b> Create Magic: the Gathering cards, add abilities to them, and then see how they interact with each other on the battlefield. This is an interactive sandbox for the Comprehensive Rulebook rule 613 (Interaction of Continuous Effects).</div>
        </div>
        <div class="flexcontainer">
            <zone caption="Hand">
                <div class="flexcontainer">
                <display-card ng-repeat="crd in hand" obj="crd" hand="hand" battlefield="battlefield" editable="true"></display-card>
                </div>
                <button class="btn btn-default" ng-click="drawBear()" style="margin-bottom: 5px;">Add 2/2 Bear</button>
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">Draw card...</button>
                    <ul class="dropdown-menu" id="dropdowner">
                        <li class="dropdown-item"><a href="#" ng-click="drawBear()" >2/2 Bear</a></li>
                        <li class="dropdown-item"><a href="#" ng-click="drawArtifact()" >An artifact</a></li>
                        <li class="dropdown-item" ><a href="#" ng-click="drawHumility()" >Humility</a></li>
                        <li class="dropdown-item"><a href="#" ng-click="openCustomCardEditor()"><b>Custom...</b></a></li>
                        <li class="dropdown-item" ng-repeat="example in exampleCards"><a href="#" ng-click="drawExampleCard(example)">{{example.name}}</a></li>
                    </ul>
                </div>
            </zone>
            <zone caption="Battlefield">
                <div class="flexcontainer">
                    <display-permanent ng-repeat="crd in battlefield" obj="crd"></display-permanent>
                </div>
            </zone>
        </div>
        <div class="panel panel-default" style="margin: 15px;">
            <div class="panel-heading">
                <button data-toggle="collapse" data-target="#collapsibleLog" class="btn btn-default">Toggle explanation</button>
            </div>
            <div class="panel-body">
                <div id="collapsibleLog" class="collapse in">
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin: 15px;">
            <div class="panel-heading">
                Example scenarios
            </div>
            <div class="panel-body" id="scenarioExamples">
                <button ng-repeat="scenario in allScenarios" ng-click="createScenario(scenario)" style="margin-right: 2px;">{{scenario.name}}</button>
                <hr>
                <a href="https://github.com/Soothsilver/ContinuousEffectsSandbox/issues">Submit a bug or a feature request</a> (I'll be happy if you do ^^)
            </div>
        </div>
        <!-- Modal -->
        <div id="logModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Log</h4>
                    </div>
                    <div class="modal-body">
                        <div id="stateCheckLog"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="cardCreator" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Card creator</h4>
                    </div>
                    <div class="modal-body">
                        You are creating a new card. The first line is the card name. The second line is its characteristics.<br><br>
                        <textarea ng-model="cardCreatorScript" cols="60" rows="2" placeholder="{{ 'Runeclaw Bear\n2/2 green Bear creature' }}"></textarea>
                        <hr>
                        Preview:
                        <display-card hand="hand" battlefield="battlefield" obj="cardCreatorToCard()"></display-card>
                        <hr>
                        You may set the card's power/toughness, color(s), type(s) and creature subtypes. You will be able to add abilities to the card later.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="cardCreatorCreate()" data-dismiss="modal">Add this card to your hand</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="detailsViewer" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Details</h4>
                    </div>
                    <div class="modal-body">
                        <div style="float:left;">
                        The printed card is<br>
                        <display-card hand="hand" battlefield="battlefield" obj="detailsViewerCard"></display-card>
                        </div>
                        <div ng-if="detailsViewerCard.recipe != null" style="float:left;">
                            Card script:<br><pre>{{detailsViewerCard.recipe.name}}
{{detailsViewerCard.recipe.card}}</pre>
                            <div ng-repeat="ability in detailsViewerCard.recipe.abilities">
                                Ability:<br><pre><span ng-repeat="sentence in ability">{{sentence}}
</span></pre>
                            </div>
                        </div>
                        <div style="clear: left;"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="abilityCreator" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ability creator</h4>
                    </div>
                    <div class="modal-body">
                        You are adding a new ability to <b>{{ abilityCreatorCardName }}</b>.<br>
                        <textarea ng-model="abilityCreatorScript" cols="50" rows="6" placeholder="{{ 'this\n+1/+1' }}"></textarea>
                        <hr>
                        <p>{{ abilityCreatorToString() }}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="dropdown" style="display: inline">
                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Example scripts...</button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item"><a href="#" ng-click="abilityCreatorScript = 'this\nsetpt:3/3\naddtype:creature'" >This is also a 3/3 creature.</a></li>
                                <li class="dropdown-item"><a href="#" ng-click="abilityCreatorScript = 'Bear creatures\naddability:flying\nsetcolor:blue'" >Bears are blue and fly.</a></li>
                                <li class="dropdown-item"><a href="#" ng-click="abilityCreatorScript = 'noncreature artifacts\nnoncreature enchantments\nsetpt:2/2\naddtype:creature\nsilence'" >Noncreatures are 2/2 with no abilities.</a></li>
                            </ul>
                        </div>
                        <button class="btn btn-default" onclick="$('#scriptDocumentation').modal()">View script documentation</button>
                        <button type="button" class="btn btn-primary" ng-click="abilityCreatorAdd()" data-dismiss="modal">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="scriptDocumentation" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Ability script documentation</h4>
                    </div>
                    <div class="modal-body">
                        <p>You can only add static abilities that change the characteristics of permanents, and a couple of "primitive" abilities.
                        <p>A primitive ability is only a single line: "flying", "first strike" or "haste".
                        <p>Other abilities consist of one or more lines that define the "subjects" and one or more lines that define the "changes" to those subject's characteristics.</p>
                        <p><b>Defining subjects.</b> A subject may be <b>this</b> (meaning 'this permanent') or a set of permanents that satisfy all requirements on a line. These requirements may be a type (such as 'creature'), a subtype (such as 'Bear'), a color (such as 'red'), a lack of these characteristics (such as 'nonblack' or 'noncreature') or the word 'youcontrol' or 'nocontrol'.</p>
                        <p><b>Defining changes.</b> A line such as "1/2" means adding "+1/+2" to the subjects; otherwise changes may be the following directives:</p>
                        <ul>
                            <li><b>switch</b> switches power and toughness</li>
                            <li><b>silence</b>: lose all abilities</li>
                            <li><b>losecolors</b>: lose all colors</li>
                            <li><b>setcolor:[colorname]</b>: becomes [colorname]</li>
                            <li><b>addcolor:[colorname]</b>: is [colorname] in addition to other colors</li>
                            <li><b>addtype:[cardtype]</b>:is [cardtype] in addition to other types</li>
                            <li><b>setpt:X/Y</b>: sets base power and toughness</li>
                            <li><b>gainscontrol:2</b>: opponent gains control</li>
                            <li><b>addability:flying</b>: has flying</li>
                        </ul>
                        <p>Other features may be undocumented.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>