.flexcontainer {
    display: flex;
  /*  border: 1px solid black;

   */
    margin: 5px;
    padding: 5px;
    flex-flow: wrap;
}
.zone {
    margin: 5px;
}
.card {
    margin: 5px;
    background: #d8d8d8;
    max-width: 240px;
}
.green {
    background-color: #96ffb8;
}
.blue {
    background-color: #63bdff;
}
.red {
    background-color: #ff7b4c;
}
.white {
    background-color: #f1ffcb;
}
.black {
    background-color: #606250;
}
.gold {
    background: #faef65;
}
.phasedout .cardcontents {
    filter: blur(3px) grayscale(100%);
}