.flexcontainer {
    display: flex;


     flex-direction: row;
    flex-flow: wrap;
    align-items: stretch;

}
zone {
    margin: 5px;
}
zone:last-child {
    flex-grow: 1;
}
.zone {
    padding: 0;
}
.card {
    margin: 5px;
    background: #d8d8d8;
    max-width: 240px;
}
.card.panel {
    border-color: black;
}
.card .panel-body {
    padding: 10px;
    border-color: black;
}
.card .panel-heading {
    padding-bottom: 10px;
    background-color: white;
    color: black;
    border-color: black;
}
.card hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.card button {
    margin-bottom: 5px;
    padding: 7px;
}
.card p {
    margin: 0 0 5px;
}
.green {
    background-color: #96ffb8;
}
.blue {
    background-color: #63bdff;
}
.red {
    background-color: #ff7b4c;
}
.white {
    background-color: #f1ffcb;
}
.black {
    background-color: #cb8683;
}
.gold {
    background: #faef65;
}
#scenarioExamples button {
    margin-bottom: 5px;
}
.phasedout .cardcontents {
    filter: blur(3px) grayscale(100%);
}
.invisibleText {
    color: #466cff;
    font-style: italic;
}
.changedText {
    color: #2331ff;
    font-weight: bold;
}
.strickenText {
    text-decoration: line-through;
    color: #a3a2a1;
}
