<div class="panel panel-primary card {{obj.cssColor()}}">
    <div class="panel-heading">{{ obj.name}}</div>
    <div class="panel-body">
        <div class="cardcontents">
        {{ obj.typeline.asString() }}
        <hr style="border-color: black;">
        <p ng-repeat="ab in obj.abilities">{{ ab.toCapitalizedString() }}</p>
            <p ng-if="obj.typeline.isCreature()">{{ obj.power}} / {{obj.toughness}}</p>
        </div>
        <div ng-if=" editable == 'true' ">
            <hr style="border-color: black;">
            <button class="btn btn-default" ng-click="openAbilityCreator()">Add ability...</button>
            <br>
            <button class="btn btn-primary" ng-click="castSelf()">Cast</button>
            <button class="btn btn-danger" ng-click="discardSelf()">Discard</button>
        </div>
    </div>
</div>