<div class="panel panel-primary card {{obj.cssColor()}} {{ obj.phasedOut ? 'phasedout' : ''}}">
    <div class="panel-heading">{{ obj.name}}</div>
    <div class="panel-body">
        <div class="cardcontents">
            <div style="max-height: 200px; overflow: auto;">
                <span ng-repeat="type in obj.typeline.types" ng-class="obj.modificationLog.isTypeAdded(obj.typeline.stringifyType(type)) ? 'changedText' : ''">{{ obj.typeline.stringifyType(type) }} </span>
                <span ng-if="obj.typeline.creatureSubtypes.length > 0">– </span>
                <span ng-repeat="type in obj.typeline.creatureSubtypes" ng-class="obj.modificationLog.isTypeAdded(obj.typeline.stringifySubtype(type)) ? 'changedText' : ''">{{ obj.typeline.stringifySubtype(type) }} </span>
            </div>
            <hr style="border-color: black;">
            <p class="invisibleText" ng-if="obj.ownedByOpponent">(Owned by your opponent.)</p>
            <p class="invisibleText" ng-if="obj.controlledByOpponent">(Controlled by your opponent.)</p>
            <p class="invisibleText" ng-if="obj.color.length > 1">({{obj.describeColors()}})</p>
            <p ng-repeat="ab in obj.abilities" ng-class="(ab.nonprinted || ab.modified) ? 'changedText' : ''">{{ ab.toCapitalizedString() }}</p>
            <p ng-repeat="ab in obj.modificationLog.strickenAbilities" class='strickenText''">{{ ab.toCapitalizedString() }}</p>
            <p ng-if="obj.typeline.isCreature()" ng-class="obj.modificationLog.ptChanged ? 'changedText' : ''">{{ obj.power}} / {{obj.toughness}}</p>
            <p ng-if="obj.counters.length > 0">Counters: {{ obj.counters.join(", ") }}</p>
        </div>
        <hr style="border-color: black;">
        <button class="btn btn-default" ng-click="viewAsPrinted()">View printed</button>
        <button class="btn btn-default" ng-click="phasing()">{{obj.phasedOut ? "Phase in" : "Phase out" }}</button>
        <button class="btn btn-default" ng-click="flicker()">Flicker</button>
        <button class="btn btn-danger" ng-click="sacrifice()">Sacrifice</button>
    </div>
</div>